<div>
  <h2 id="page-heading" data-cy="EmployeeLeaveAccountHeading">
    <span jhiTranslate="shrmsApp.employeeLeaveAccount.home.title">Employee Leave Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shrmsApp.employeeLeaveAccount.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee-leave-account"
        [routerLink]="['/employee-leave-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shrmsApp.employeeLeaveAccount.home.createLabel"> Create a new Employee Leave Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="employeeLeaveAccounts?.length === 0">
    <span jhiTranslate="shrmsApp.employeeLeaveAccount.home.notFound">No Employee Leave Accounts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="employeeLeaveAccounts && employeeLeaveAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="leaveTypeId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.leaveTypeId">Leave Type Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employeeId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.employeeId">Employee Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="carriedLeaves">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.carriedLeaves">Carried Leaves</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creditedLeaves">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.creditedLeaves">Credited Leaves</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balance">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.balance">Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.employeeLeaveAccount.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employeeLeaveAccount of employeeLeaveAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employee-leave-account', employeeLeaveAccount.id, 'view']">{{ employeeLeaveAccount.id }}</a>
          </td>
          <td>{{ employeeLeaveAccount.leaveTypeId }}</td>
          <td>{{ employeeLeaveAccount.employeeId }}</td>
          <td>{{ employeeLeaveAccount.carriedLeaves }}</td>
          <td>{{ employeeLeaveAccount.creditedLeaves }}</td>
          <td>{{ employeeLeaveAccount.date | formatMediumDatetime }}</td>
          <td>{{ employeeLeaveAccount.balance }}</td>
          <td>{{ employeeLeaveAccount.companyId }}</td>
          <td>{{ employeeLeaveAccount.status }}</td>
          <td>{{ employeeLeaveAccount.lastModified | formatMediumDatetime }}</td>
          <td>{{ employeeLeaveAccount.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/employee-leave-account', employeeLeaveAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/employee-leave-account', employeeLeaveAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(employeeLeaveAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="employeeLeaveAccounts && employeeLeaveAccounts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
