<div>
  <h2 id="page-heading" data-cy="EsiDetailsHeading">
    <span jhiTranslate="shrmsApp.esiDetails.home.title">Esi Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shrmsApp.esiDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-esi-details"
        [routerLink]="['/esi-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shrmsApp.esiDetails.home.createLabel"> Create a new Esi Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="esiDetails?.length === 0">
    <span jhiTranslate="shrmsApp.esiDetails.home.notFound">No Esi Details found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="esiDetails && esiDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isEsiContribution">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.isEsiContribution">Is Esi Contribution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="esiNumber">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.esiNumber">Esi Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="esiRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.esiRate">Esi Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="additionalEsiRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.additionalEsiRate">Additional Esi Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalEsiRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.totalEsiRate">Total Esi Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employeId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.employeId">Employe Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reEnumerationId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.reEnumerationId">Re Enumeration Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.esiDetails.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let esiDetails of esiDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/esi-details', esiDetails.id, 'view']">{{ esiDetails.id }}</a>
          </td>
          <td>{{ esiDetails.isEsiContribution }}</td>
          <td>{{ esiDetails.esiNumber }}</td>
          <td>{{ esiDetails.esiRate }}</td>
          <td>{{ esiDetails.additionalEsiRate }}</td>
          <td>{{ esiDetails.totalEsiRate }}</td>
          <td>{{ esiDetails.employeId }}</td>
          <td>{{ esiDetails.reEnumerationId }}</td>
          <td>{{ esiDetails.companyId }}</td>
          <td>{{ esiDetails.status }}</td>
          <td>{{ esiDetails.lastModified | formatMediumDatetime }}</td>
          <td>{{ esiDetails.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/esi-details', esiDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/esi-details', esiDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(esiDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="esiDetails && esiDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
