<div>
  <h2 id="page-heading" data-cy="WorkDaysSettingHeading">
    <span jhiTranslate="shrmsApp.workDaysSetting.home.title">Work Days Settings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shrmsApp.workDaysSetting.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-work-days-setting"
        [routerLink]="['/work-days-setting/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shrmsApp.workDaysSetting.home.createLabel"> Create a new Work Days Setting </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="workDaysSettings?.length === 0">
    <span jhiTranslate="shrmsApp.workDaysSetting.home.notFound">No Work Days Settings found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="workDaysSettings && workDaysSettings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="day">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.workDaysSetting.day">Day</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hours">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.workDaysSetting.hours">Hours</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dayOff">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.workDaysSetting.dayOff">Day Off</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.workDaysSetting.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.workDaysSetting.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.workDaysSetting.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.workDaysSetting.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workDaysSetting of workDaysSettings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/work-days-setting', workDaysSetting.id, 'view']">{{ workDaysSetting.id }}</a>
          </td>
          <td>{{ workDaysSetting.day }}</td>
          <td>{{ workDaysSetting.hours }}</td>
          <td>{{ workDaysSetting.dayOff }}</td>
          <td>{{ workDaysSetting.companyId }}</td>
          <td>{{ workDaysSetting.status }}</td>
          <td>{{ workDaysSetting.lastModified | formatMediumDatetime }}</td>
          <td>{{ workDaysSetting.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/work-days-setting', workDaysSetting.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/work-days-setting', workDaysSetting.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workDaysSetting)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workDaysSettings && workDaysSettings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
