<div>
  <h2 id="page-heading" data-cy="PfDetailsHeading">
    <span jhiTranslate="shrmsApp.pfDetails.home.title">Pf Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shrmsApp.pfDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pf-details"
        [routerLink]="['/pf-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shrmsApp.pfDetails.home.createLabel"> Create a new Pf Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="pfDetails?.length === 0">
    <span jhiTranslate="shrmsApp.pfDetails.home.notFound">No Pf Details found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pfDetails && pfDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isPfContribution">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.isPfContribution">Is Pf Contribution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pfNumber">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.pfNumber">Pf Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pfRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.pfRate">Pf Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="additionalPfRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.additionalPfRate">Additional Pf Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalPfRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.totalPfRate">Total Pf Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employeId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.employeId">Employe Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reEnumerationId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.reEnumerationId">Re Enumeration Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.pfDetails.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pfDetails of pfDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pf-details', pfDetails.id, 'view']">{{ pfDetails.id }}</a>
          </td>
          <td>{{ pfDetails.isPfContribution }}</td>
          <td>{{ pfDetails.pfNumber }}</td>
          <td>{{ pfDetails.pfRate }}</td>
          <td>{{ pfDetails.additionalPfRate }}</td>
          <td>{{ pfDetails.totalPfRate }}</td>
          <td>{{ pfDetails.employeId }}</td>
          <td>{{ pfDetails.reEnumerationId }}</td>
          <td>{{ pfDetails.companyId }}</td>
          <td>{{ pfDetails.status }}</td>
          <td>{{ pfDetails.lastModified | formatMediumDatetime }}</td>
          <td>{{ pfDetails.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pf-details', pfDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pf-details', pfDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pfDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pfDetails && pfDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
