<div>
  <h2 id="page-heading" data-cy="LeavePolicyHeading">
    <span jhiTranslate="shrmsApp.leavePolicy.home.title">Leave Policies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shrmsApp.leavePolicy.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-leave-policy"
        [routerLink]="['/leave-policy/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shrmsApp.leavePolicy.home.createLabel"> Create a new Leave Policy </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="leavePolicies?.length === 0">
    <span jhiTranslate="shrmsApp.leavePolicy.home.notFound">No Leave Policies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="leavePolicies && leavePolicies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="leaveType">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.leaveType">Leave Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isCarryForword">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.isCarryForword">Is Carry Forword</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employeeType">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.employeeType">Employee Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="genderLeave">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.genderLeave">Gender Leave</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalLeave">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.totalLeave">Total Leave</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxLeave">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.maxLeave">Max Leave</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hasproRataLeave">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.hasproRataLeave">Haspro Rata Leave</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.leavePolicy.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leavePolicy of leavePolicies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/leave-policy', leavePolicy.id, 'view']">{{ leavePolicy.id }}</a>
          </td>
          <td>{{ leavePolicy.leaveType }}</td>
          <td>{{ leavePolicy.isCarryForword }}</td>
          <td>{{ leavePolicy.employeeType }}</td>
          <td>{{ leavePolicy.genderLeave }}</td>
          <td>{{ leavePolicy.totalLeave }}</td>
          <td>{{ leavePolicy.maxLeave }}</td>
          <td>{{ leavePolicy.hasproRataLeave }}</td>
          <td>{{ leavePolicy.description }}</td>
          <td>{{ leavePolicy.companyId }}</td>
          <td>{{ leavePolicy.status }}</td>
          <td>{{ leavePolicy.lastModified | formatMediumDatetime }}</td>
          <td>{{ leavePolicy.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/leave-policy', leavePolicy.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/leave-policy', leavePolicy.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(leavePolicy)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="leavePolicies && leavePolicies.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
