<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="branch">
      <h2 data-cy="branchDetailsHeading"><span jhiTranslate="shrmsApp.branch.detail.title">Branch</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ branch.id }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.branchName">Branch Name</span></dt>
        <dd>
          <span>{{ branch.branchName }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.description">Description</span></dt>
        <dd>
          <span>{{ branch.description }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.branchcode">Branchcode</span></dt>
        <dd>
          <span>{{ branch.branchcode }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.branchType">Branch Type</span></dt>
        <dd>
          <span>{{ branch.branchType }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.webSite">Web Site</span></dt>
        <dd>
          <span>{{ branch.webSite }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.branchId">Branch Id</span></dt>
        <dd>
          <span>{{ branch.branchId }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.regionId">Region Id</span></dt>
        <dd>
          <span>{{ branch.regionId }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.companyId">Company Id</span></dt>
        <dd>
          <span>{{ branch.companyId }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.status">Status</span></dt>
        <dd>
          <span>{{ branch.status }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ branch.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.branch.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ branch.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/branch', branch.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
