<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="approvalLevel">
      <h2 data-cy="approvalLevelDetailsHeading"><span jhiTranslate="shrmsApp.approvalLevel.detail.title">Approval Level</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ approvalLevel.id }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.approvalLevel.name">Name</span></dt>
        <dd>
          <span>{{ approvalLevel.name }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.approvalLevel.squence">Squence</span></dt>
        <dd>
          <span>{{ approvalLevel.squence }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.approvalLevel.approvalSettingId">Approval Setting Id</span></dt>
        <dd>
          <span>{{ approvalLevel.approvalSettingId }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.approvalLevel.companyId">Company Id</span></dt>
        <dd>
          <span>{{ approvalLevel.companyId }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.approvalLevel.status">Status</span></dt>
        <dd>
          <span>{{ approvalLevel.status }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.approvalLevel.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ approvalLevel.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="shrmsApp.approvalLevel.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ approvalLevel.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/approval-level', approvalLevel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
